// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/sweetalert2/src/sweetalert2.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,600');
@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

body {
    overflow-x: hidden;
}

.more-info {
    margin-top: 2.4rem;
    .location {
        .city {
            font-family: 'Ek Mukta', sans-serif;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: left;
            color: #717171;
        }
        .date {
            font-family: 'Ek Mukta', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: left;
            color: #3b3b3b;
        }
    }
    .visits {
        padding-top: 2rem;
    }
    .exhibitors {
        padding-top: 2rem;
    }
    .days {
        padding-top: 2rem;
    }
}

.theText {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
    span {
        font-family: 'Ek Mukta', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        text-align: left;
        color: #717171;
    }
}

.loations {
    margin-top: 6rem;
    span {
        font-family: 'Ek Mukta', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.loations-2 {
    margin-top: 1rem;
    span {
        font-family: 'Ek Mukta', sans-serif;
        opacity: 0.5;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        color: #717171;
    }
}

.contact {
    background-color: #f7f7f8;
    background-image: url(../images/formbg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    .title {
        background-color: #da2d81;
        span {
            font-family: 'Ek Mukta', sans-serif;
            font-size: 2rem;
            font-weight: 300;
            text-align: left;
            color: #ffffff;
        }
    }
    .info {
        padding-top: 2rem;
        padding-bottom: 2rem;
        span {
            font-family: 'Ek Mukta', sans-serif;
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.48;
            text-align: left;
            color: #717171;
        }
    }
    .phone {
        font-family: 'Ek Mukta', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        color: #df3582;
    }
    .office-text {
        font-family: 'Ek Mukta', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color: #000;
    }  .contact-text {
        font-family: 'Ek Mukta', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color: #7e7e7e;
    }
    .social {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .title-2 {
        span {
            font-family: 'Ek Mukta', sans-serif;
            font-size: 2.1rem;
            font-weight: 300;
            text-align: left;
            color: #7a7a7a;
            strong {
                color: #444343;

            }
        }
    }
    form {
        margin-top: 2rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        margin-left: 10%;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #cecece;
        max-width: 500px;
        .btn-primary {
            color: #fff;
            border-radius: 7px;
            background-color: #da2d81;
            border-color: #da2d81;
            &:hover {
                background-color: #ad105c;
                background-color: #ad105c;
            }
        }
        .form-control {
            display: block;
            width: 100%;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.25;
            color: #464a4c;
            background-image: none;
            background-clip: padding-box;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px #cecece;
            @include placeholder {
                font-family: 'Ek Mukta', sans-serif;
                font-size: 1.3rem;
                font-weight: 300;
                color: red;
            }
        }
    }
}

.img1 {
    background-image: url(../images/1.png);
}

.img2 {
    background-image: url(../images/2.png);
}

.img3 {
    background-image: url(../images/3.png);
}

.img4 {
    background-image: url(../images/4.png);
}

.img5 {
    background-image: url(../images/5.png);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
